select {
	appearance: none !important;
	padding-right: 2em;
	background-image: url(https://recursos.sevendigital.com.br//i/select-icon.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 12px) center;
	
	&.blue {
		border-color: $blue-mid;
		color: $blue-mid;
		text-transform: capitalize;
		padding-top: .5em;
		padding-bottom: .5em;
	}
}

select, input[type="text"]:not(.btn) {
	padding: .75em 1em;
	border-style: solid; 
	border-width: 1px;
	border-color: $gray-mid;
}

.default-input, input[type="text"]:not(.btn), input[type="password"]:not(.btn), input[type="email"]:not(.btn), input[type="tel"] {
	border-color: $gray-mid;
	border-style: solid;
	border-width: 1px;
	box-shadow: unset;
	padding: .75em 1em;
}

.form-control {
	border-radius: 0;
	height: auto;
	padding: .75em 1em;
}

.page-trabalhe-conosco {
	#EnviaFormulario {
		@extend .col-lg-8, .col-md-10;
		display: flex;
		flex-direction: column;
		float: none;
		margin: auto;
		margin-bottom: 3em;
		padding: 0;

		textarea {
			@extend .default-input;
			font-size: 16px;
			min-height: 150px;
			width: 100%;
		}

		input {
			font-size: 16px;
			height: 100%;
			text-indent: 0;
			width: 100%;
		}
	}

	.btn-enviar {
		@extend .custom-btn, .btn-orange;
	}

	.fbits-conteudo-item {

	}

	.form-group {
		flex: 100%;
		margin-bottom: $grid-gutter-width;
	}
}