@font-face {
    font-family: 'Arquitecta';
    src: url('../f/ArquitectaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('../f/ArquitectaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arquitecta';
    src: url('../f/Arquitecta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


    
.custom-hidden {
    display: none !important;
}


* {
    box-sizing: border-box;
}

::selection {
    background-color: $sunglow;
    color: $dark-jungle-green;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-base;
    font-size: $font-size;
    letter-spacing: .12px;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    @include media-breakpoint-down(md) {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $body-color;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

a,
a:hover,
a:focus,
input,
button,
textarea,
select {
    text-decoration: none;
    outline: none !important;
}

b,
strong {
    font-weight: $font-weight-bold;
}

img {
    max-width: 100%;
    height: auto;
}

input:-webkit-autofill,
select:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}
