<footer>
	<div class="quick-links">
		<a href="/atendimento" class="phone-link">Atendimento por Telefone</a>
		<a href="/atendimento" class="email-link">Atendimento por E-mail</a>
		<a href="/atendimento" class="lojas-link">Loja Física</a>
	</div>
	<section class="newsletter-wrapper ">
		<div id="fbits-cadastro-newsletter" class="">
			<p class="title">Receber ofertas <br> exclusivas no seu e-mail</p>
			<div class="newsletter-box">
				<input class="input" id="Nome" maxlength="50" name="objNews.Nome" placeholder="Nome" type="text"> <input class="input" id="Email" maxlength="70" name="objNews.Email" placeholder="Email" type="text">
				<span id="newsletter-mensagem" class="title newsletter-erro"></span>
			</div>
			<input type="submit" class="btNews" value="Cadastrar" onclick="cadastroNewsletter(this)"> 
			<br>
		</div>
	</div>
</section>

<section class="footer-seals-row">
	<div class="logo-wrapper">
		<img src="https://recursos.sevendigital.com.br/i/logo-white.svg" alt="">
	</div>

	<div class="footer-block">
		<span class="block-title">Formas de Pagamento</span>
		<div class="cards-wrapper">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_01.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_02.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_03.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_04.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_05.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_06.svg" alt="">
			<br>
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_07.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_11.svg" alt="">
			<img src="https://recursos.sevendigital.com.br/i/pgto/v1/cards_12.svg" alt="">
		</div>
	</div>

	<div class="footer-block">
		<span class="block-title">Segurança</span>
		<div class="seals-wrapper">
			<img src="https://recursos.sevendigital.com.br/c/selo-safety-rodape.png" alt="">
		</div>
	</div>
</section>

<section class="site-map-row">
	<div class="footer-block">
		<span class="block-title">Institucional</span>
		<ul class="links-wrapper">
			<li><a href="/quem-somos">Quem somos</a></li>
			<li><a href="/politicadeprivacidade">Política de privacidade</a></li>
		</ul>
	</div>

	<div class="footer-block">
		<span class="block-title">Dúvidas</span>
		<ul class="links-wrapper">
			<li><a href="/atendimento">Atendimento</a></li>
			<li><a href="/atendimento#faq-section">Dúvidas frequentes</a></li>
			<li><a href="/atendimento#faq-section">Entregas e fretes</a></li>
			<li><a href="/atendimento#faq-section">Troca e devolução</a></li>
			<li><a href="/atendimento#faq-section">Formas de pagamento</a></li>
		</ul>
	</div>

	<div class="footer-block">
		<span class="block-title">Minha conta</span>
		<ul class="links-wrapper">
			<li><a href="https://checkout.sevendigital.com.br/Login/Authenticate">Acessar conta</a></li>
			<li><a href="https://checkout.sevendigital.com.br/MinhaConta/Pedido/">Meus pedidos</a></li>
			<li><a href="/ListaDeDesejos">Lista de desejos</a></li>
		</ul>
	</div>

	<div class="footer-block">
		<span class="block-title">Atendimento</span>
		<div class="infos-wrapper">
			<span>
				8h30 às 18h <br>
				Horário de Brasília <br>
				de segunda a sexta-feira <br>
				exceto feriados <br><br>
			</span>
		</div>

		<ul class="links-wrapper">
			<li><a href="mailto:atendimento@sevendigital.com.br">atendimento@sevendigital.com.br</a></li>
		</ul>
	</div>

	<div class="footer-block">
		<span class="block-title">Redes sociais</span>
		<ul class="links-wrapper social-links">
			<li><a href="https://www.facebook.com/sevendigitalinformaticaltda/?ref=aymt_homepage_panel&eid=ARAl2T5cuw_l-er1CG5TOp6veVzZPCC7-PpO8ARvd4qzKu6bYcW9Y4a3TY5vcH_gsCSqWZ-iwcfk2Yv6" class="facebook"></a></li>
			<li><a href="https://www.instagram.com/sevendigitalinformatica/" target="_blank" class="instagram"></a></li>
			<!--<li><a href="#" class="youtube"></a></li>-->
			<!--<li><a href="#" class="pinterest"></a></li>-->
		</ul>
	</div>
</section>

<section class="business-infos">
	<address>@G.Dados["DadosEmpresa-RazaoSocial"]  CNPJ: @G.Dados["DadosEmpresa-CNPJ"]   @G.Dados["DadosEmpresa-Endereco"] -  Bairro: @G.Dados["DadosEmpresa-Bairro"]  -   CEP: @G.Dados["DadosEmpresa-CEP"] - @G.Dados["DadosEmpresa-Cidade"]/@G.Dados["DadosEmpresa-Estado"] <br>
		Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem prévio aviso. A Seven Digital não é responsável por erros descritivos. <br>
	As fotos contidas nesta página são meramente ilustrativas do produto e podem variar de acordo com o fornecedor/lote do fabricante. Este site trabalha 100% em criptografia SSL.</address>
</section>

<section class="signature-row">
    <a class="logo-nerau" href="https://www.nerau.com.br" target="_blank">
	    <img src="https://recursos.sevendigital.com.br//i/logo-nerau.svg" alt="">
	</a>
	<a target="_blank" href="http://www.fbits.com.br/solucao/f-store-plataforma-de-ecommerce/?utm_source=@(G.NomeEcommerce)&utm_medium=F-Store&utm_term=F-Store&utm_content=Rodape&utm_campaign=MiniBannerRodapeHome" title="F-Store powered by FBITS"><i class="fstore colorful replace">F-Store powered by FBITS</i></a>
</section>
</footer>

<script src="//code.jivosite.com/widget/qt2xhuDe0y" async></script>
@Html.Partial("_ViewSwitcher")
@Zanox.InsertScript(Convert.ToBoolean(G.Dados["ZanoxAtivo"]))

@{Html.RenderAction("SelectGrupoScriptTag", "GrupoScriptTag", new { @posicao = EnumPosicaoScript.FooterBaixo });}