/* LEIA-ME */

/* login.css >> DefiniÃ§Ãµes das pÃ¡ginas de LOGIN do novo Checkout */
/* minhaconta.css >> DefiniÃ§Ãµes das pÃ¡ginas de MINHA CONTA do novo Checkout */
/* checkout.css >> DefiniÃ§Ãµes das pÃ¡ginas de CARRINHO, FECHAMENTO E CONFIRMAÃ‡ÃƒO do novo Checkout */
/* geral.css >> DefiniÃ§Ãµes de CabeÃ§alho e RodapÃ© */

/* adicione/edite este arquivo para sobrescrever as definiÃ§Ãµes padrÃ£o da loja */


@import "../base/variables";
@import "../base/mixins";
@import "../components/buttons";


body.fbits-confirmacao {
    padding: 0;
}

//Modal de fechamento pedido
#fbits-mensagem-fechamento {
    >div {
        box-shadow: 0px 0 39px 0px rgba(0, 0, 0, .15) !important; 
    }

    h3 {
        color: #000 !important;
        font-family: $font-family-base;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1em;
        margin-top: 0;
    }

    span {
        font-size: 16px !important;
        font-family: $font-family-base;
    }
}

.fbits-frete-retirada-texto {
    margin: 10px;
}

.fbits-frete-retirada-mais {
    background-color: $gray-mid-light;
    border-color: $gray-mid-light;
    border-bottom-width: 2px;
    color: $body-color;
    margin-left: 10px !important;
    padding: .5em 3em;
    transition: .2s ease-in-out;

    &:hover {
        background-color: #dadada !important;
        border-color: $gray-mid-light !important;
    }
}

//Pagina confirmacao

.fbits-confirmacao {
    overflow-x: hidden;

    &:before, &:after {
    	display: none;
    }

    > .tyc_container {
    	> .row {
    		margin: 0;
    	}
    }

    section.confirmacao-entrega p, section.confirmacao-itens:before, .confirmacao-box .box-pedido-numero:first-child:before {
        font-weight: bold;
    }

    .fbits-responsive-carrinho-item-valor-unitario {
    	align-items: center;
    	display: flex;
    	justify-content: center;
        font-size: 1.5em;
        font-weight: 200 !important;
    }

    .fbits-responsive-carrinho-item-quantidade {
    	margin-top: 1em;
    }

    .box-endereco {
        font-weight: 200;
        font-size: 1em;

        .pedido-endereco-endereco:before {
            color: #aaa;
        }
    }

    .gateway-yapay-imprirmir-boleto {
        @extend .custom-btn;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 1em;
        text-align: center;
        width: 100%;

        &:before {
            background-color: #777 !important;
        }
    }

    .gateway-yapay-copiar-linecode {
        width: 100%;

        input {
            border: none;
            text-align: center;
            width: 100%;
        }
    }

    .fbits-responsive-carrinho-item {
        display: flex;
        padding: $grid-gutter-width/2;

        .fbits-responsive-carrinho-item-valor-unitario {
            flex: 1;

            .currency {
                @media (max-width: 500px) {
                    font-size: 16px;
                }
            }
        }

        @media (min-width: 768px) {
            margin: 0;
        }

        > * {
            flex: 2;
        }

        .fbits-responsive-carrinho-item-titulo {
        	display: flex;
        	flex: 2;

            @media (max-width: 500px) {
                font-size: 16px;
            }
        }
    }

    .fbits-responsive-carrinho-item-descricao {
        font-weight: bold;
        text-transform: uppercase;
    }

    .fbits-responsive-carrinho-item-atributos {
        font-size: 1em;
        text-transform: none;
        font-weight: 200;
    }

    section.confirmacao-box {
        margin: 0;
        margin-bottom: 2em;
        padding: 40px;
        width: 100%;

        @media (max-width: 500px) {
            padding: 20px;
        }

        .confirmacao-box {
        	margin-bottom: 0;

            @media (max-width: 500px) {
                border: none;
                padding: 0;
            }
        }
    }

    #bannerEbit {
        display: block;
        margin: 15px auto;

        img {
            display: block;
            margin: auto;
            max-width: 100%;
        }
    }

    .confirmacao-box {
        margin-bottom: 0;
    }


    .box-pedido-numero+.box-pedido-numero {
        position: relative;
    }
    
    .title-confirmacao {
    	color: $blue-mid;
    	padding: 1em 0;
        text-align: center;
    }

    .confirmacao-itens, .confirmacao-entrega {
        margin: 0 30px 0 0;

        @media (max-width: 992px) {
            margin: 0;
            width: 100%;
        }
    }

    .confirmacao-entrega {
        flex: 1;
        margin: 0;
    }

    .confirmacao-itens {
        flex: 2;

        @media (max-width: 992px) {
        	flex: 100%;
            margin-bottom: 30px;
        }

        .fbits-responsive-carrinho-item:last-child {
            border: none !important; 
        }
    }

    section.confirmacao-box, section.confirmacao-entrega, section.confirmacao-itens {
        min-height: auto;
    }

    .confirmacao-buttons {
    	display: flex;
    	justify-content: space-between;
        padding: $grid-gutter-width 0;
        width: 100%;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        .btcontinuar, .btn {
            @extend .custom-btn, .btn-orange;
            color: #fff !important;
            display: inline-flex;
            font-weight: normal !important;
            text-decoration: none !important;
            width: auto !important;

            &:hover {
            	background-color: darken($brand-orange, 15%) !important;
            	opacity: 1 !important;
            }
        }

        a {
            @media (max-width: 567px) {
                padding: 1.5em 2em;
            }
        }

        a:first-child {
            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
        }
    }

    .content-flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 30px;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        >* {

        }
    }

    ul {
        list-style: none;
    }
}